config ENABLE_FAKE_NETWORK_CARD
    depends on ENABLE_NETWORKING
    default y
    tristate "Enable a fake network card for testing stuff"

config ENABLE_RTL8139
    depends on ENABLE_NETWORKING
    depends on ENABLE_PCI
    default y
    tristate "RTL8139 support"
