config ARCH_X86
  bool
  default y

config ENABLE_KERNEL_64
  default n
  bool "64-bit kernel"

config ENABLE_KERNEL_32
  bool
  depends on !ENABLE_KERNEL_64
  default y

config ARCH_HAS_PAGING
  bool
  depends on !ENABLE_KERNEL_64
  default y

config ENABLE_FTRACE
  default n
  bool "Enable function tracing"

menu "Security"

config ENABLE_STACKPROTECTOR
  default y
  bool "Enable Stack Smashing Protector"

endmenu
