config ARCH_X86
  bool
  default y

# stuff from arch/Kconfig

config ARCH_HAS_PAGING
  bool
  depends on !ENABLE_KERNEL_64
  default y

config ARCH_PAGE_SIZE
  int
  default 4096

config KERNEL_HIGHER_HALF
  int
  depends on !ENABLE_KERNEL_64
  default 3221225472 # 0xC0000000

config HHDM_SIZE
  int
  depends on !ENABLE_KERNEL_64
  default 536870912 # 0x20000000 512MiB

# END stuff from arch/Kconfig

config ENABLE_KERNEL_64
  default n
  bool "64-bit kernel"

config ENABLE_KERNEL_32
  bool
  depends on !ENABLE_KERNEL_64
  default y

config ENABLE_FTRACE
  default n
  bool "Enable function tracing"

menu "Security"

config ENABLE_STACKPROTECTOR
  default y
  bool "Enable Stack Smashing Protector"

endmenu
