config ARCH_M68K
  bool
  default y

# stuff from arch/Kconfig

config ARCH_PAGE_SIZE
  int
  default 128

# END stuff from arch/Kconfig

menu "Security"

config ENABLE_STACKPROTECTOR
  default y
  bool "Enable Stack Smashing Protector"

endmenu

config PLAIN_BINARY
  default n
  bool "Create a plain binary instead of a macboot-compatible one"
