.vscode
*.o
*.oc
*.ocpp
*.oasm
*.onasm
*.os
*.oS
*.rlib
*.ors

kernel.bin
initramfs.bin
kernel.elf

/boot/boot
/vix.img
/vix_uefi.img
/bochsrc
/bx_enh_dbg.ini
/mem.bin
/vix.img.lock
/boot/stage2/stage2
/boot/stage1
/shitshell/shitshell
/vix_app.img
/vix.iso
/roramfs_create
/roramfs.fs
/kernel/include/generated
/kernel/config_gen
/kernel/symtab.S
/kernel/.config
/kernel/include/config/
/kernel/.config.old
/libctest
/kernel/arch/aarch64/include/vix/arch/limine.h
/kernel/arch/x86/include/vix/arch/limine.h
/kernel/docs/
/sysroot/
/scripts/
/kernel/compile_flags.txt
