.vscode
*.o
*.oc
*.ocpp
*.oasm
*.onasm
*.os
*.oS
*.ors
*.rlib

kernel_shitshell.bin
kernel.bin
initramfs.bin

/boot/boot
/vix.img
/vix_uefi.img
/bochsrc
/bx_enh_dbg.ini
/mem.bin
/vix.img.lock
/boot/stage2/stage2
/boot/stage1
/shitshell/shitshell
/vix_app.img
/prekernel/x86/startup
/vix.iso
/roramfs_create
/roramfs.fs
/kernel/include/generated
/kernel/config_gen
/kernel/symtab.s
/kernel/.config
/kernel/include/config/
/kernel/.config.old
/libctest
/kernel/arch/aarch64/include/arch/limine.h
/kernel/arch/x86/include/arch/limine.h
/kernel/docs/
/sysroot/
/scripts/
