mainmenu "shitOS/$(SRCARCH) $(KVERSION) Kernel Configuration"

source "arch/$(SRCARCH)/Kconfig"
source "drivers/Kconfig"
source "fs/Kconfig"
source "kernel/Kconfig"
source "net/Kconfig"
source "tests/Kconfig"

config ARCH
    string
    default "$(SRCARCH)"

config KVERSION
    string
    default "$(KVERSION)"

menu "build options"

config CXX_OPTIM_LEVEL
	prompt "G++ optimization level"
	int
	default 3
	range 0 3

endmenu
