mainmenu "vix/$(ARCH) $(KVERSION) Kernel Configuration"

menu "$(ARCH)-specific"
source "arch/$(ARCH)/Kconfig"
endmenu

menu "Drivers"
source "drivers/Kconfig"
endmenu

source "fs/Kconfig"

menu "Networking"
source "net/Kconfig"
endmenu

source "tests/Kconfig"
source "kernel/Kconfig"

config ARCH
    string
    default "$(ARCH)"

config CXX
    string
    default "$(CXX)"

config LD
    string
    default "$(LD)"

config NM
    string
    default "$(NM)"

config OBJCOPY
    string
    default "$(OBJCOPY)"

config CXXFLAGS
    string
    default "$(CXXFLAGS)"

config LDFLAGS
    string
    default "$(LDFLAGS)"    

config KVERSION
    string
    default "$(KVERSION)"

menu "build options"

config CXX_OPTIM_LEVEL
	prompt "G++ optimization level"
	int
	default 3
	range 0 3

endmenu

config UBSAN
    bool "Enable ubsan"
    default n
