mainmenu "vix/$(ARCH) $(KVERSION) Kernel Configuration"

menu "ABI's"
source "abi/Kconfig"
endmenu

source "arch/Kconfig"

menu "Drivers"
source "drivers/Kconfig"
endmenu

source "fs/Kconfig"

menu "Networking"
source "net/Kconfig"
endmenu

source "stdlibs/Kconfig"
source "tests/Kconfig"
source "kernel/Kconfig"
source "rust/Kconfig"

config ARCH
    string
    default "$(ARCH)"

config KVERSION
    string
    default "$(KVERSION)"

config MODULES
	bool "Enable loadable module support"
	modules
	default y

menu "build options"

config CXX_OPTIM_LEVEL
	prompt "G++ optimization level"
	int
	default 3
	range 0 3

endmenu

config UBSAN
    bool "Enable ubsan"
    default n
