menu "$(ARCH)-specific"
source "arch/$(ARCH)/Kconfig"
endmenu

menu "General Arch-Specific stuff"

config ARCH_HAS_PAGING
  bool

# FIXME: this should be have 'depends on ARCH_HAS_PAGING' but currently the page size is also used as block size e.g. for the memory allocators
config ARCH_PAGE_SIZE
  int
  help
    Page size, must be a power of two

config ARCH_PAGING_LEVELS
  int
  depends on ARCH_HAS_PAGING
  help
    Maximum number of paging levels
    1 means there is at most a single page table

config KERNEL_HIGHER_HALF
  hex
  depends on ARCH_HAS_PAGING
  help
    start of higher half (virtual address)

config HHDM_PHYS_BASE
  hex
  depends on ARCH_HAS_PAGING
  default 0
  help
    start of HHDM (physical address)

config HHDM_VIRT_BASE
  hex
  depends on ARCH_HAS_PAGING
  default KERNEL_HIGHER_HALF
  help
    start of HHDM (virtual address)

config HHDM_SIZE
  hex
  depends on ARCH_HAS_PAGING
  help
    size of HHDM in bytes

endmenu
