config TEST_A
	bool "Enable test B / test C"
	default y
	help
	  insert useful text here

config TEST_B
	bool "test B"
    depends on TEST_A
	help
	  test B help

config TEST_C
	bool "test C"
	depends on TEST_B
	help
	  test C help
	 
	 
config TEST_D
	bool "Enable test D"
	default n
	help
	  insert useful text here yes
