menu "core kernel"
source "mm/Kconfig"
source "cppstd/Kconfig"

choice
	prompt "kernel loglevel"
	default LOGLEVEL_NORMAL
	config LOGLEVEL_INSANE
		bool "insane"
	config LOGLEVEL_DEBUG
		bool "debug"
	config LOGLEVEL_NORMAL
		bool "normal"
	config LOGLEVEL_FATAL
		bool "fatal"
	config LOGLEVEL_SILENT
		bool "silent"
endchoice

config KPRINTF_BUFSIZE
	prompt "kprintf ring buffer size"
	int
	default 16000
	range 100 1000000

config KPRINTF_LOGLEVEL
	prompt "kprintf loglevel"
	int
	default 6
	range 0 7
	help
		0 = Emergency
		1 = Alert
		2 = Critical
		3 = Error
		4 = Warning
		5 = Notice
		6 = Info
		7 = Debug

config ENABLE_BUILTIN_FONT
  default y if ARCH_AARCH64
  bool "Compile font into kernel"

endmenu
