menu "core kernel"
source "mm/Kconfig"
source "cppstd/Kconfig"

choice
	prompt "kernel loglevel"
	default LOGLEVEL_NORMAL
	config LOGLEVEL_INSANE
		bool "insane"
	config LOGLEVEL_DEBUG
		bool "debug"
	config LOGLEVEL_NORMAL
		bool "normal"
	config LOGLEVEL_FATAL
		bool "fatal"
	config LOGLEVEL_SILENT
		bool "silent"
endchoice

endmenu
